*{
    margin:0;
    padding:0; 
    background: transparent;
    font-size: 1.2vw;
}

body {
margin:0;
padding:0; 
box-sizing:border-box;
background-color: #222034;
} 


#chooseBarbarian{
    background-image: url("./img/chooseBarbarian.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;   
    background-color: #222034;
} 

#chooseWizard{
    background-image: url("./img/chooseWizard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;  
    background-color: #222034;
}


#upCenterTextMenu{
    color:white;
    text-align: center;
    border: 2px solid;
    border-color: azure; 
    background-color: #222034; 
    padding-left:2%;
    padding-right:2%;
   
}

#btn-flip-page{
    border: 2px solid;
    border-color: rgb(175, 204, 204); 
    background-color: azure;
    color:#222034;
}

#btn-open-menu {
    font-family: MiniSet2;  
    background-color:azure;
    border-radius: 80%;  
}

#menu{
    color:white;
    display:none;
}
#deathMenu{
    color:white;
    font-size: 2vw;
    padding-top:15%;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 1;
}

#btn-start-game{
    background-color:white;
    color:black;
}


#btn-close-menu{
    border-radius: 50%;
    background-color:white;
    color:black;

} 

.invLeft{
    text-align: center;
    color: white;
    font-size: 1.6vw;
    background-color: #323c39;
    border: 2px solid; 
    border-color: azure;
    padding-top:8%;
}

.inv-left-choosen{
    background-color:white;
    color:black;
    font-size: 1.6vw;
    border: 2px solid; 
    border-color: azure;
}

#playerHP{
    width:180%;
}


.potion-info-block{
    position: absolute;
    width:100%;
    height:20%;
}

.potionList{
    width:100%;
    height:20%;
} 

#Potion{
    background-color:#323c39; 
    border: 2px solid;
    border-color: azure;
} 

#PotionSpeed{
    background-color:#323c39;
    border: 2px solid; 
    border-color: azure;
}

.img-potions{
    position: absolute;
    top:20%;
    left:5%;
    width:8%;
    height:50%;

} 

.info-potions{
    position: absolute;
  
    top: 20%;
    left:40%;
    width:40%;
} 

.btn-use-potion{
    position: absolute;
    background-color:azure;
    top:20%;
    left: 80%;
    width: 10%;
    height: 50%;
} 

#firstSkill{
    border: 2px solid;
    max-width:100%;
    border-color: azure; 
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #222034;
} 
#secondSkill{
    border: 2px solid;
    border-color: azure; 
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #222034;
} 
#thirdSkill{
    border: 2px solid;
    border-color: azure; 
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #222034;
} 
#fourthSkill{
    border: 2px solid;
    border-color: azure; 
    background-size:100%;
    background-repeat: no-repeat; 
    text-align: center; 
    font-size: 1.8vw; 
    background-color: #222034;
    color:darkorange;
} 
#fifthSkill{
    border: 2px solid;
    border-color: azure; 
    background-size:100%;
    background-repeat: no-repeat;
    background-color: #222034;
} 

.skill-column2{
 text-align: center;
 border-bottom: 2px solid;
 color:white;
}

.borderChoosen{
text-align: center;
border: 2px solid;
background-color:white;
color:#323c39
}